/* pre {
  background-color: black;
  color: green;
  border-radius: 5px;
  padding: 10px;
} */

.carousel-control > span {
  opacity: .1;
}

.carousel-control > span:hover {
  cursor: pointer;
  opacity: 1;
}

#modal-container {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}